.container {
	width: 96%;
	margin: 0 auto;
}

.painel-formulario .campo {
	margin-bottom: 16px;
}

.painel-formulario label {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}

.campo .campo-input {
	display: block;
	width: 100%;
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #48A3A6; 
}

.botao-inscrever {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding: 25px 50px;
	background-color: #48A3A6;
	border-radius: 10px;
}
